/*HTML*/
body{
    font-size: 1rem;
    background-color: #decaca;

}
a{
    color: rgb(241, 8, 8);
    text-decoration: midnightblue;
}
/*CLASS*/
.reg-cls{
    background-color: #e39f7d;
}
/*ID*/
#hate{
    color: #ff0000;
}